<% set_meta_tags( title: 'Okogotoへようこそ！' ) %>
<section class="bg-base-100">
  <div class="container mx-auto flex px-5 py-24 flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <%= image_tag 'okogoto_explanation.png', size: '720x600' %>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-2xl text-xl mb-4 font-medium text-primary text-left">Okogotoでは
        <br class="lg:inline-block">背景やフォントを使って
        <br class="lg:inline-block">あなたの言葉の雰囲気を変え
        <br class="lg:inline-block">客観的に見ることをお手伝いします
      </h1>
      <div class="collapse bg-info mt-6 rounded-3xl">
        <input type="checkbox" /> 
        <div class="collapse-title text-lg font-medium text-primary">
          <i class="fa-solid fa-play text-primary mx-1"></i>
          Okogotoへの想い
        </div>
        <div class="collapse-content"> 
          <p class="mx-4 text-gray-500">
            「小言」と聞くとあまりいい印象を抱かない人が多いかもしれませんが、私は必ず無くすべきものだとは思っていません。</br>
            </br>
            きっと小言は後悔や経験から生まれるその人にとっての格言のようなもので、同じ経験を持っていない人には伝わりにくい言葉なんだと思います。</br>
            </br>
            大切なのは小言を言わないことではなく、自分にとっては ”格言” でも</br> 
            自分と同じ経験をしていない人にとって、その言葉はただの ”小言” かもしれない・・・と想像することにあるんじゃないかと考えました。</br>
            </br>
            Okogotoは、他人の視点で言葉を見るお手伝いができたらいいなと思い作成しました。</br>
            </br>
            私の長い長いオコゴトにお付き合いいただきありがとうございました！</br>
            ぜひあなたのオコゴトを教えください！</br>
          </p>
        </div>
      </div>
      <div class="flex justify-center mt-8 mb-16">
        <%= link_to t('.to_posts_index'), posts_path, class: 'btn btn-secondary rounded-full text-white' %>
      </div>
      <h1 class="title-font sm:text-2xl text-xl my-4 font-medium text-neutral">オコゴト画像のつくりかた</h1>
      <div class="chat chat-start">
        <div class="chat-bubble chat-bubble-primary whitespace-nowrap w-80 text-white">1. オコゴトを入力</div>
      </div>
      <div class="chat chat-start">
        <div class="chat-bubble chat-bubble-primary whitespace-nowrap w-80 text-white">2. 見てみたい雰囲気の画像を選択</div>
      </div>
      <div class="chat chat-start">
        <div class="chat-bubble chat-bubble-primary whitespace-nowrap w-80 text-white">3. オコゴト画像に説明を追加</div>
      </div>
      <div class="chat chat-start">
        <div class="chat-bubble chat-bubble-primary whitespace-nowrap w-96 text-white">
          <i class="fa-regular fa-circle-check mr-1"></i>
          投稿された画像はダウンロード可能です！
        </div>
      </div>
      </div>
      <div class="mockup-phone border-secondary mt-6">
        <div class="camera"></div> 
        <div class="display">
          <div class="artboard artboard-demo phone-1">
            <%= image_tag 'introduction_calendar.png', class: 'object-cover' %>
          </div>
        </div>
      </div>
      <div class="chat chat-start mt-2 mb-4">
        <div class="chat-bubble chat-bubble-primary whitespace-nowrap w-64 text-white">
          スマホver壁紙は</br>
          7月のカレンダーです
        </div>
      </div>
      <div class="mockup-window border border-secondary w-1/2 mt-4">
        <div class="flex justify-center border-t border-secondary">
          <%= image_tag 'desctop_example.png', class: 'object-cover' %>
        </div>
      </div>
      <div class="chat chat-start mt-2 mb-4">
        <div class="chat-bubble chat-bubble-primary whitespace-nowrap w-64 text-white">
          ダウンロードした画像は</br>
          パソコンの壁紙にもできます
        </div>
      </div>
      <div class="flex justify-center mt-8">
        <%= link_to t('.to_create_user'), new_user_path, class: 'btn btn-secondary rounded-full text-white' %>
      </div>
    </div>
  </div>
</section>
