<% set_meta_tags( title: 'オコゴト画像作成' ) %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8 flex justify-center">
    <div class="card w-96 bg-base-100 shadow-xl mb-10 outline-dashed outline-gray-200">
      <div class="card-body">
        <h1 class="card-title justify-center text-secondary underline decoration-secondary decoration-dashed underline-offset-8 mb-3"><%= t('.title') %></h1>
        <%= form_with url: okogoto_images_path, local: true, class: 'flex-col' do |f| %>
          <%= render 'shared/error_messages', object: @okogoto_image %>
          <div class="form-control mb-4">
            <%= f.label t('.okogoto'), class: 'label text-secondary' %>
            <%= f.text_area :okogoto, class: 'textarea textarea-primary border border-dashed text-primary placeholder-primary', placeholder: '70文字以内で入力してください（ 70文字以上入力されません ）', maxlength: '70' %>
          </div>
          <div class="form-control space-x-2 space-y-2">
            <%= f.label t('.image'), class: 'text-secondary' %>
            <label class="flex justify-start cursor-pointer">
              <%= f.radio_button :image, 'kakugen', class: 'radio checked:bg-primary radio-sm', checked: true %>
              <%= f.label :image, t('.kakugen'), value: 'kakugen', class: 'label-text text-primary font-mono ml-2 cursor-pointer' %>
            </label>
            <label class="flex justify-start cursor-pointer">
              <%= f.radio_button :image, 'kogoto', class: 'radio checked:bg-primary radio-sm' %>
              <%= f.label :image, t('.kogoto'), value: 'kogoto', class: 'label-text text-primary font-mono ml-2 cursor-pointer' %>
            </label>
            <label class="flex justify-start cursor-pointer ">
              <%= f.radio_button :image, 'friends', class: 'radio checked:bg-primary radio-sm' %>
              <%= f.label :image, t('.friends'), value: 'friends', class: 'label-text text-primary font-mono ml-2 cursor-pointer' %>
            </label>
            <label class="flex justify-start cursor-pointer ">
              <%= f.radio_button :image, 'hitorigoto', class: 'radio checked:bg-primary radio-sm' %>
              <%= f.label :image, t('.hitorigoto'), value: 'hitorigoto', class: 'label-text text-primary font-mono ml-2 cursor-pointer' %>
            </label>
          </div>
          <p class="mt-6 text-gray-500"><i class="fa-regular fa-hand-point-down mr-1"></i>スワイプして画像を確認</p>
          <div class="carousel carousel-center rounded-box mt-1">
            <div class="carousel-item">
              <%= image_tag 'okogoto_kakugen.png', size: '320x200' %>
            </div> 
            <div class="carousel-item">
              <%= image_tag 'okogoto_kogoto.png', size: '320x200' %>
            </div> 
            <div class="carousel-item">
              <%= image_tag 'okogoto_friends.png', size: '320x200' %>
            </div> 
            <div class="carousel-item">
              <%= image_tag 'okogoto_hitorigoto.png', size: '320x200' %>
            </div> 
          </div>
          <div class="card-actions justify-center mt-6">
            <%= f.submit t('.submit'), class: 'btn btn-primary text-white rounded-full' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

