<div class="navbar bg-secondary text-white">
  <% if logged_in? %>
    <div class="flex-1">
      <%= link_to image_tag('Okogoto_logo.png', size: '110'), posts_path, class: 'ml-4' %>
    </div>
  <% else %>
    <div class="flex-1">
      <%= link_to image_tag('Okogoto_logo.png', size: '110'), root_path, class: 'ml-4' %>
    </div>
  <% end %>
  <div class="flex-none">
    <% if logged_in? %>
      <details class="dropdown dropdown-end mr-2">
        <summary tabindex="0" class="btn btn-ghost m-1" id="header-menu"><i class="fa-solid fa-bars fa-lg"></i></summary>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 outline-dashed outline-gray-400 text-secondary divide-y divide-dashed divide-gray-400 whitespace-nowrap rounded-box w-60">
          <li class="hover:text-gray-500"><%= link_to 'みんなのオコゴトを見る', posts_path %></li>
          <li class="hover:text-gray-500"><%= link_to 'オコゴト画像を作成する', new_okogoto_image_path %></li>
          <li class="hover:text-gray-500"><%= link_to 'マイページ', profile_path %></li>
          <li class="hover:text-gray-500"><%= button_to t('defaults.logout'), logout_path, method: :delete %></li>
        </ul>
      </details>
    <% else %>
      <%= link_to t('defaults.login'), login_path, class: 'btn btn-square btn-ghost whitespace-nowrap w-24' %>
    <% end %>
  </div>
</div>
