<% if post.liked_by?(current_user) %>
  <%= link_to post_like_path(current_user.likes.find_by(post_id: post.id), post_id: post.id), data: { turbo_method: :delete } do %>
    <button class="btn btn-sm btn-primary text-white"><i class="fa-solid fa-face-smile mr-1"></i><%= Like.model_name.human %> <%= post.likes.size %></button>
  <% end %>
<% else %>
  <%= link_to post_likes_path(post), data: { turbo_method: :post } do %>
    <button class="btn btn-sm btn-outline btn-primary hover:bg-primary hover:text-white"><i class="fa-regular fa-face-smile mr-1"></i><%= Like.model_name.human %> <%= post.likes.size %></button>
  <% end %>
<% end %>
