<% set_meta_tags( title: 'オコゴト一覧' ) %>
<section class="bg-base-100 body-font">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-secondary"><%= t('.title') %></h1>
      <div class="form-control">
        <div class="input-group justify-center">
          <%= form_with scope: :search, url: posts_path, method: :get, local: true do |f| %>
            <%= f.label :tag_id, t('defaults.search_tag'), class: 'label text-slate-500 text-sm' %>
            <%= f.collection_select(:tag_id, @tags, :id, :situation, { include_blank: t('.search_tag') }, { class: 'select join-item bg-primary text-white' }) %>
            <%= f.button class: 'btn btn-primary join-item mt-1 pb-1' do %>
              <i class="fa-solid fa-magnifying-glass fa-lg text-white"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if !@posts.present? %>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-primary mt-12"><%= t('.no_result') %></p>
      <% end %>
    </div>
    <div class="flex flex-wrap">
      <% if @posts.present? %>
        <%= render @posts %>
      <% end %>
    </div>
    <div class="flex justify-center mt-10">
      <%= link_to_prev_page @posts, t('defaults.previous'), class: 'inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-primary bg-white border border-primary rounded-lg hover:bg-gray-100 hover:text-primary dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' %>
      <%= link_to_next_page @posts, t('defaults.next'), class: 'inline-flex items-center px-4 py-2 text-sm font-medium text-primary bg-white border border-primary rounded-lg hover:bg-gray-100 hover:text-primary dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'%>
    </div>
  </div>
</section>
