<div class="flex justify-center">
  <div class="card w-96 bg-base-100 shadow-xl my-12">
    <div class="px-10 pt-5">
      <p class="text-lg text-slate-500"><%= @post.user.name %>(<%= @post.user.age_i18n %><%= @post.user.gender_i18n %>)</p>
    </div>
    <figure class="px-10">
      <%= image_tag @post.kogoto_image.url %>
    </figure>
    <div class="card-body items-center text-center">
      <h3 class="card-title"><%= Post.human_attribute_name('comment') %></h3>
      <p><%= @post.comment %></p>
      <% if @post.tag_id.present? %>
        <h3 class="card-title"><%= Tag.model_name.human %></h3>
        <%= link_to "# #{@post.tag.situation}", posts_path( search: { tag_id: @post.tag_id }), class: 'link link-accent' %>
      <% end %>
    </div>
    <div class="flex justify-around">
      <%= turbo_frame_tag 'like_button' do %>
        <%= render 'like_button', post: @post %>
      <% end %>
    </div>
    <div class="items-center text-center mb-4">
      <% if @post.user_id == current_user.id %>
        <%= link_to t('.edit'), edit_post_path(@post), class: 'btn btn-primary whitespace-nowrap rounded-full text-center mt-4' %>
        <%= button_to t('.delete'), post_path(@post),
                                  class: 'btn btn-outline whitespace-nowrap rounded-full text-center mt-2',
                                  method: :delete,
                                  data: { turbo_confirm: t('.delete_check') } %>
      <% end %>
    </div>
  </div>
</div>