<!DOCTYPE html>
<html>
  <head>
    <title>管理画面 | Okogoto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/67515df7cb.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render 'admin/shared/header' %>
    <%= render 'admin/shared/flash_messages' %>
    <%= yield %>
    <%= render 'admin/shared/footer' %>
  </body>
</html>
