<section class="text-gray-600 body-font bg-base-100">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-5xl text-3xl mb-4 font-bold text-gray-900">Login</h1>
    </div>
    <div class="card max-w-sm md:w-3/6 w-5/6 mb-10 shadow-2xl bg-base-200">
      <div class="card-body">
        <div class="form-control">
          <%= form_with url: login_path, method: :post do |f| %>
            <div class="form-control">
              <%= f.label :email, User.human_attribute_name(:email), class: 'label' %>
              <%= f.email_field :email, class: 'input input-bordered w-full max-w-xs', placeholder: 'email' %>
            </div>
            <div class="form-control">
              <%= f.label :password, User.human_attribute_name(:password), class: 'label' %>
              <%= f.password_field :password, class: 'input input-bordered w-full max-w-xs', placeholder: 'password' %>
            </div>
            <div class="form-control mt-6">
              <%= f.submit t('defaults.login'), class: 'btn btn-primary text-white bg-indigo-500 border-0' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="text-center lg:w-2/3 w-full">
      <p class="mb-3 leading-relaxed"><%= t('.password_forget') %></p>
      <div class="flex justify-center">
        <%= render 'forgot_password_form' %>
      </div>
    </div>
    <div class="text-center lg:w-2/3 w-full mt-8">
      <p class="mb-4 leading-relaxed"><%= t('.create_user') %></p>
      <div class="flex justify-center">
        <%= link_to t('.to_register_page'), new_user_path, class: 'btn btn-wide text-white bg-indigo-500 border-0 focus:outline-none hover:bg-indigo-600 rounded-lg text-sm' %>
      </div>
    </div>
  </div>
</section>
