<section class="text-gray-600 body-font bg-base-100">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-5xl text-3xl mb-4 font-bold text-primary">Login</h1>
    </div>
    <div class="card max-w-sm md:w-1/2 w-5/6 mb-10 shadow-2xl bg-base-100">
      <div class="card-body">
        <div class="form-control">
          <%= form_with url: admin_login_path, method: :post do |f| %>
            <div class="form-control">
              <%= f.label :email, User.human_attribute_name(:email), class: 'label text-primary' %>
              <%= f.email_field :email, class: 'input input-bordered input-info w-full max-w-xs bg-info text-gray-500 placeholder-gray-400', placeholder: 'email' %>
            </div>
            <div class="form-control">
              <%= f.label :password, User.human_attribute_name(:password), class: 'label text-primary' %>
              <%= f.password_field :password, class: 'input input-info input-bordered w-full max-w-xs bg-info text-gray-500 placeholder-gray-400', placeholder: 'password' %>
            </div>
            <div class="form-control mt-8">
              <%= f.submit t('defaults.login'), class: 'btn btn-primary text-white border-0' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="text-center lg:w-2/3 w-full mt-8">
      <p class="mb-4 leading-relaxed text-primary"><%= t('.not_admin') %></p>
      <div class="flex justify-center">
        <%= link_to t('.not_admin_login'), login_path, class: 'btn btn-primary btn-wide text-white border-0 focus:outline-none rounded-lg text-sm' %>
      </div>
    </div>
  </div>
</section>
