<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSVSHJSP19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-FSVSHJSP19');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/67515df7cb.js" crossorigin="anonymous"></script>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag 'favicon.ico' %>
    
  </head>

  <body>
    <%= render 'shared/header'%>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
